
h3{
  font-size: 1em;
  text-transform: uppercase;
  color:  #345c43;
  
}

.jumbotron {
  background: url("/assets/img/techbk.jpeg") no-repeat center center;
}

.jumbotron h1{
  color: #fff;
  
}

.jumbotron p{
  color: #fff;
  text-shadow: 4px 4px 4px #000000;
}

.display-4 {
  color: white !important;
  font-size: 64px;
  text-shadow: 4px 4px 4px #000000;
  font-weight: bolder;
}

.lead {
  font-size: 38px;
  /* font-weight: bolder; */
}



.btn-primary {
  background-color: #345c43;
  color: white !important;
}

.note-item-list {
  padding: 5px;
}